<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>res/settings.xml</comment>
<entry key="darkColor">-11390050</entry>
<entry key="lightColor">-6160</entry>
<entry key="showCoords">1</entry>
<entry key="fpsCap">0</entry>
<entry key="showFPS">0</entry>
</properties>
